

<footer class="block block--dark footer">
    <div class="container grid footer__sections">

    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
            <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="/images/sprite.svg#clock"></use>
          </svg>
        </span>
      </header>
  
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#"></a>Website Hosting</li>
          <li><a href="#"></a>Free Automated</li>
          <li><a href="#"></a>Wordpress</li>
          <li><a href="#"></a>Migrations</li>
        </ul>
      </div>
      </section>
        
    <section class="collapsible  footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
            <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="/images/sprite.svg#clock"></use>
          </svg>
        </span>
      </header>
  
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#"></a>About</li>
          <li><a href="#"></a>Affiliates</li>
          <li><a href="#"></a>Blog</li>
        </ul>
      </div>
    </section>

    <section class="collapsible  footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
            <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="/images/sprite.svg#clock"></use>
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
     <ul class="list">
      <li><a href="#"></a>Contact</li>
      <li><a href="#"></a>Knowledge Base</li>
      <li><a href="#"></a>FAQ</li>
     </ul>      
    </div>
  </section>
    <section class="collapsible  footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
            <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="/images/sprite.svg#clock"></use>
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
     <ul class="list">
      <li><a href="#"></a>Domain Checker</li>
      <li><a href="#"></a>Domain Transfer</li>
      <li><a href="#"></a>Free Domain</li>
     </ul>      
    </div>
  </section>
  <section class="footer__brand">
    <img src="/images/logo.svg" alt="">
    <p class="footer__copyright"> Copyright 2020 Mosh Hamedani</p>
  </section>
</div>   
  </footer>

