<nav class="nav collapsible">
	<a class="nav__brand" href="/"> <img src="./enviologo.png" alt="" /></a>
	<svg class="icon icon--white nav__toggler">
		<use xlink:href="/images/sprite.svg#menu"></use>
	</svg>
	<ul class="list nav__list collapsible__content">
		<li class="nav__item">
			<a target="_blank" href="https://www.azami.io/">Hosting</a>
		</li>
		<li class="nav__item">
			<a target="_blank" href="https://www.azami.io/">VPS</a>
		</li>
		<li class="nav__item">
			<a target="_blank" href="https://www.azami.io/">Domain</a>
		</li>
		<li class="nav__item">
			<a target="_blank" href="https://www.azami.io/">Pricing</a>
		</li>
	</ul>
</nav>
<script src="/JS/main.js"></script>
